::before ::after {
   box-sizing: border-box;
}
body {
   margin: 0;
}
.carousel {
   width: 100vw;
   height: 100vh;
   position: relative;
}
.carousel ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.carousel--image {
   position: absolute;
   inset: 0;
   opacity: 0;
   transition: 250ms ease-in;
}
.carousel--image img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.carousel--image[data-active] {
   opacity: 1;
}
.carousel__button {
   position: absolute;
   border: none;
   font-size: 3rem;
   top: 50%;
   transform: translateY(-50%);
   z-index: 999;
}
.carousel__button img {
   width: 20px;
   cursor: grab;
}
.carousel__button--left {
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 999;
}
.carousel__button--right {
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%); /*helps button to stick to the center, on the edge*/
}
.carousel__button {
   display: none;
}
.carousel:hover .carousel__button {
   display: block;
}
.carousel__button:hover {
   opacity: 0.8;
   background-color: rgb(65, 190, 221);
}
.carousel__button:focus {
   border: 1px solid black;
}
